<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<message-container></message-container>

{{vm.formData}}

Please enter your name and pick the Sectors you are currently involved in.

<br>
<br>
Name:
<input type="text" ng-model="vm.formData.name">

<br />
<br />
<input type="checkbox" ng-model="vm.formData.agreement"> Agree to terms

<br />
<br />
<input type="button" value="Save" ng-click="vm.submitForm()">

<br />
<br />
<br />
<br/>
<a href="/#/original">Original assingment</a>

</body>
</html>