<message-container></message-container>

Please enter your name and pick the Sectors you are currently involved in.

<br>
<br>
Name: <input type="text" ng-model="vm.newForm.name">

<div ng-repeat="element in vm.newForm.elements">
    <label for="{{element.id}}">
        <input id="{{element.id}}" type="checkbox" ng-model="element.selected"
               ng-value="true" >
        {{element.name}}
    </label>
</div>

<br />
<br />
<input type="checkbox" ng-model="vm.newForm.agreement"> Agree to terms

<br />
<br />
<input type="button" value="Save" ng-click="vm.submitForm()">

<br />
<br />
<br />
<br/>
<a href="/#/original">Original assingment</a>