<div class="clear-20"></div>

<div class="row">
    <div class="large-12 columns">
        <div class="large-12">
            <h3>Please enter your name and pick the Sectors you are currently involved in.</h3>
        </div>
    </div>
</div>

<div class="clear-20"></div>

<div class="row">
    <div class="large-4 medium-6 small-12 columns">
        <div class="inline-field">
            <label>Name:
                <input type="text" placeholder="your name" ng-model="vm.newForm.userName">
            </label>
        </div>
    </div>
</div>

<div class="row">
    <div class="large-12  columns">
        <div class="inline-field" ng-repeat="element in vm.newForm.elements">
            <div ng-style="vm.chooseClass(element)">
                <label for="{{element.elId}}">
                    <input id="{{element.elId}}" type="checkbox" ng-model="element.selected" ng-value="true">
                    <span ng-bind="element.name"></span>
                </label>
            </div>
        </div>
    </div>
</div>

<div class="clear-20"></div>

<div class="row">
    <div class="large-12 columns">
        <label for="agreement">
            <input id="agreement" type="checkbox" ng-model="vm.newForm.agreement">
            <span>Agree to terms</span>
        </label>
    </div>
</div>

<message-container></message-container>


<div class="clear-10"></div>

<div class="row">
    <div class="large-4 medium-6 small-12 columns">
        <input type="button large" class="button" value="Save" ng-click="vm.submitForm()">
    </div>
</div>


<div class="clear-40"></div>
<a href="/#/original">Original assingment</a>